<h1> Links </h1>
<h1> Welcome <%= @user %> </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>

<form action="/new">
  <input type="submit" value="Add Link">
</form>
