<h1>Fill in info then click add</h1>

<form action="/new" method="post">
  <label for='title'>
    Title
  <input type="text" name="title">
</label>
<label for='url'>
  URL
<input type="text" name="url">
</label>
<label for='tags'>
  Tags (Seperate multiple tags with a space)
<input type="text" name="tags">
</label>
  <input type="submit" value="Add">
</form>
